{% extends 'main.html' %}

{% block body %}


<h2 class="text-center mt-2">Changing Password</h2>
<div class="container my-3">
    <form method="post" action=""> {% csrf_token %}
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Email address</label>
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="email" required>
        </div>
        <div class="mb-3">
            <label for="otp1" class="form-label">OTP</label>
            <input type="password" class="form-control" id="otp1" required>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>


{% endblock %}